<html>
    <head>
        <title>Haii</title>
    </head>

    <body>
        <div id="app">
            <form>
                <input v-model="name" placeholder="edit me">
                <p>{{ name }}</p>
            </form>
        </div>
        
    </body>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el : '#app',
            data : {
                name : ""
            },
        })
    </script>
</html>