<htmL>
    <head>
        <meta charset="UTF-8">
    </head>

    <body>
        <div id="app">
            <h2>{{users}}</h2>
            <p>{{pesan}}</p>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script>
        var vs = new Vue({
            el: '#app',
            data: {
                users : [
                    'John','Jake','Joko'
                ],
                pesan : 'Maaf hanya ingat sebatas ini ... '
                }            
            })
        </script>
    </body>
</htmL>